@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tips For Visual Relaxation</h1>
    <p class="lead">Tips for visual relaxation is the place where you can find the best “tips” of movies,
    television programs and online content to spend your free time in a more pleasant way. You're not a real moviegoer,
    unless you're aware of this platform.</p>
</div>

